* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    font-family: Arial, sans-serif;
    background: rgb(195,34,183);
    background: radial-gradient(circle, rgb(34, 195, 195) 54%, rgb(88, 39, 117) 91%);
    background-size: 360% 360%;
    animation: gradient-animation 15s ease infinite;
  }
 

  .container {
    width: 40%;
    height: 500px;
    margin: 20vh auto 0 auto;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid black;
    background-size: 180% 180%;
    animation: gradient-animation 15s ease infinite;
  }
  h1 {
    margin-bottom: 20px;
  }
  .input-group {
    display: flex;
    justify-content: center;
  }
  .input-group input {
    background-color: rgb(172, 207, 207);
    border-radius: 10px;
    padding: 5px 10px 5px 10px;
    border: none;
  }
  .input-group button{
    background-color: #c3bbeb;
    padding: 7px 20px;
    border-radius: 10px;
    border: none;
    margin-left: 10px;
  }
  .btn {
    padding: 5px;
    border-radius: 5px;
    border: none;
    margin-left: 10px;

  }
  #list {
    list-style-type:none;
    margin: 10px;
    padding: 0;
    
  }
  #list li {
    margin-bottom: 10px;
    text-align: center;
  }
